
<!-- Verify CSRF attack -->
<!-- <img src="http://localhost:8000/api/blog/list"> -->
<!-- enctype="application/x-www-form-urlencoded" -->
<!-- action="http://localhost:8000/api/blog/1648877106088_0.32786482411016116/new" -->
<!-- <form action="http://localhost:8000/api/blog/1648877106088_0.32786482411016116/new"  enctype="application/x-www-form-urlencoded" method="post" onsubmit="alert('submit!')">
  <div>
    title: <input type="text" name="title" value="CSRFtitle">
  </div>
  <div>
    content: <input type="text" name="content" value="CSRFcontent">
  </div>
  <div>
    author: <input type="author" name="author" value="CSRFauthor">
  </div>
  <div>
    user: <input type="text" name="user" value="CSRFuser">
  </div>
  <div>
    userID: <input type="text" name="userID" value="CSRFuserID">
  </div>
  <input type="submit">
</form> -->
<h1>
  <a  class="cursor-pointer" routerLink="/login"> You have been attacked by CSRF!</a> 
</h1>



